/*@import '../lib/twitter-bootstrap/scss/functions';
@import '../lib/twitter-bootstrap/scss/variables';

$enable-responsive-font-sizes: true;

$font-size-base: 1rem;
$h2-font-size: 2rem;

@import '../lib/twitter-bootstrap/scss/bootstrap.scss';

footer {
    @include font-size(4rem);
    padding: 4px;
}
*/
